<h1 i18n="@@appTitle">App title</h1>
<p i18n="@@appText">App text</p>
<nav>
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/contact">Contact</a>
        </li>
        <li>
            <a routerLink="/foo">Error page</a>
        </li>
    </ul>
</nav>
<app-field>
    <button type="button" (click)="toggle = !toggle">Toggle</button>
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="clearValidator()">Clear validators</button>
    <button type="button" (click)="addValidator()">Add validators</button>
    @if(toggle){
        <div>
            <label for="field" appLabel>Field</label>
            <input id="field" type="text" [formControl]="control" />
        </div>
    }
    <!-- <pre *appError="'required'; let bar" class="field-error">{{bar|json}}</pre> -->
</app-field>
<router-outlet></router-outlet>